@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Open Sans Lt';
    src: url('../src/assets/fonts/OpenSans-Light.ttf');
    /*src: local('Open Sans Light'), local('OpenSans-Light'),*/
    /*url('../src/assets/fonts/ProximaNova-Regular.woff2') format('ttf');*/
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Rg';
    src: url('../src/assets/fonts/OpenSans-Regular.ttf');
    /*src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),*/
    /*url('../src/assets/fonts/ProximaNova-Regular.woff2') format('woff2');*/
    font-weight: normal;
    font-style: normal;
}
